a {
    color: #000657;
    text-decoration: none;
  }

a:hover { 
    color: #5A60E0; 
  }
  
a:active {
    color: #985BE0;
  }

  body {
    background-color: #FFFEF1;
    margin: 0 10%;
    font-family: sans-serif;
}

footer {
    font-family: sans-serif;
}

header {
    background-color: #FFFEF1;
}

h1 {
    font-size: 80px;
    text-align: center;
    font-family: "Platypi", serif;
    font-weight: bold;
    color: #000000;
    border-bottom: 1px solid #70B85D

}

h2 {
    font-family: sans-serif;
    color: #2C5E2E;
    font-weight: bold;
}

p {
    font-family: Arial, sans-serif;
}

ul {
    font-family: Arial, sans-serif;
}